.Sidebar {
  /* border: 1px solid black; */
  height: 100vh;
  flex: 0.2;
  min-width: 230px;
  background-color: #040404;
  color: white;
}

.Sidebar__logo {
  /* object-fit: contain; to keep the aspect-ratio */
  margin-right: auto;
  height: 70px;
  padding: 10px;
}

.Sidebar__title {
  color: gray;
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  letter-spacing: 0.1em;
}
